*{
    margin: 10px;
    padding: 1px;  
    margin: auto;
    text-align: center;  
}
#titulo{
    font-size:20px;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-weight:bold;
}
#visor{
    height: 500px;
    width: 500px;
}
#table{
    height: 500px;
    width: 700px;
    display: inline-block;
}
#boton{
    height: 30px;
    width: 200px;
    font-size:15px;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-weight:bold;
}